.style-0,
.style-1 {
  display: flex;
  flex-direction: column
}
.style-0 {
  margin-left: 0;
  background-color: #333;
  margin-top: 15px;
  width: 375px;
  height: 657px
}
.style-1 {
  background-color: #000;
  margin-top: 1px;
  width: 100%;
  height: 86px;
  align-self: stretch;
  justify-content: center
}
.logIn-container-0-container-1-row-0 {
  display: flex;
  margin-left: 13px;
  width: 338px;
  height: 71px;
  align-items: center
}
.style-4 {
  margin-left: 0;
  width: 24px;
  height: 24px
}
.style-2 {
  margin-left: 27px;
  width: 126px;
  height: 100%
}
.style-3,
.style-9 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 123px;
  height: 24px
}
.style-9 {
  font-size: 1.375em;
  margin-left: 45px;
  margin-top: 123px;
  height: 35px
}
.style-10,
.style-5,
.style-7 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-left: 45px;
  width: 300px
}
.style-5 {
  background-color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  text-indent: 12px;
  height: 32px;
  margin-top: 17px
}
.style-10,
.style-7 {
  margin-top: 40px
}
.style-7 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  text-indent: 12px;
  background-color: #fff;
  height: 32px
}
.style-10 {
  background-color: #c00;
  box-shadow: 5px 5px 0 0 #000;
  display: flex;
  height: 52px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style-11,
.style-13,
.style-14 {
  font-family: BalsamiqSans,serif;
  height: 24px
}
.style-11 {
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 1.375em
}
.style-13,
.style-14 {
  color: #999;
  font-size: .875em;
  margin-left: 45px;
  margin-top: 19px
}
.style-13 {
  margin-top: 10px
}
.style-15,
.style-16 {
  display: flex;
  flex-direction: column
}
.style-15 {
  margin-left: 0;
  background-color: #333;
  margin-top: 15px;
  width: 375px;
  height: 657px
}
.style-16 {
  background-color: #000;
  margin-top: 1px;
  width: 100%;
  height: 86px;
  align-items: center;
  align-self: stretch;
  justify-content: center
}
.whoIsIt-container-0-container-1-row-0 {
  display: flex;
  width: 337px;
  height: 71px;
  align-items: center
}
.style-17 {
  margin-left: 0;
  width: 126px;
  height: 100%
}
.style-23 {
  margin-left: 187px;
  width: 24px;
  height: 24px
}
.style-18 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  margin-left: 127px;
  margin-top: 35px;
  height: 35px
}
.whoIsIt-container-0-row-2 {
  display: flex;
  margin-top: 25px;
  width: 335px;
  height: 143px;
  align-items: stretch;
  align-self: center
}
.style-19,
.style-20 {
  margin-left: 0;
  width: 143px
}
.style-20 {
  margin-left: 49px
}
.whoIsIt-container-0-row-3 {
  display: flex;
  margin-top: 12px;
  width: 231px;
  height: 26px;
  align-items: stretch;
  align-self: center
}
.style-21,
.style-22 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: 1em;
  margin-left: 0
}
.style-22 {
  margin-left: 165px
}
.style-24 {
  margin-left: 58px;
  margin-top: 62px;
  width: 71px;
  height: 71px
}
.style-25 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 46px;
  margin-top: 26px;
  height: 24px
}
.style-26,
.style-27 {
  display: flex;
  flex-direction: column
}
.style-26 {
  margin-left: 0;
  background-color: #333;
  margin-top: 17px;
  width: 375px;
  height: 656px
}
.style-27 {
  background-color: #000;
  margin-top: 0;
  width: 100%;
  height: 86px;
  align-items: center;
  align-self: stretch;
  justify-content: center
}
.videos-container-0-container-1-row-0 {
  display: flex;
  width: 344px;
  height: 71px;
  align-items: center
}
.style-34 {
  margin-left: 0;
  width: 24px;
  height: 24px
}
.style-28 {
  margin-left: 13px;
  width: 126px;
  height: 100%
}
.style-29 {
  margin-left: 157px;
  width: 24px;
  height: 24px
}
.style-30 {
  margin-top: 0;
  width: 100%;
  height: 208px;
  align-self: stretch
}
.style-31 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: 1em;
  margin-left: 19px;
  margin-top: 17px;
  height: 26px
}
.videos-container-0-row-3 {
  display: flex;
  margin-top: 6px;
  width: 345px;
  height: 224px;
  align-items: stretch;
  align-self: center
}
.style-32,
.style-33 {
  margin-left: 0;
  width: 163px
}
.style-33 {
  margin-left: 19px
}
.style-35 {
  color: #fff;
  font-family: BalsamiqSans,serif;
  font-size: 1em;
  margin-left: 12px;
  margin-top: 11px;
  height: 26px
}
.videos-container-0-row-5 {
  display: flex;
  margin-top: 7px;
  width: 345px;
  height: 45px;
  align-items: stretch;
  align-self: center
}
.style-36,
.style-37 {
  margin-left: 0;
  width: 163px
}
.style-37 {
  margin-left: 19px
}